body {
    font-family: sans-serif;
}
.zz{
    background-color: #98C261 ;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin: 5px;
    font-size: 25px;
}
.xx{
     background-color: #98C261 ;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin: 5px;
    font-size: 25px;
}
.catalog a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    margin:50px;
    flex-wrap: wrap;
    background-color: BLACK;
    border-radius: 5%;
    text-decoration: none;
}

.product {
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px double #98C261;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #98C261;
    border-radius: 5%;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
}
.ww{
    text-align: right;
    color: red;
    font-family: sans-serif;
}
footer{
    background-color: #98C261;
    border-radius: 2.5%;
}

 a{
    text-decoration: none;
} 
.xx:hover{
    color: white;
    padding: 5px;
 background-color: #98C261 ;
    border-radius: 5px;
    margin: 5px;
}
.zz:hover{
color: white;
    padding: 5px;
 background-color: #98C261 ;
    border-radius: 5px;
    margin: 5px;
}
a:hover{
    color: white;
}
li:hover{
    color: white;
}
.qqq{
    text-align: center;
}
